<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="PddmcConnectionString" connectionString="Data Source=GLOBELERA-PC;Initial Catalog=PDDMC;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
        <!--<add name="PddmcConnectionString" connectionString="server=localhost;uid=pdmccuser;database=pdmccdb;pwd=pdmccuser;Pooling=true;Min Pool Size=50;Max Pool Size=600;Connect Timeout=500;" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages controlRenderingCompatibilityVersion="3.5" enableViewStateMac="false" clientIDMode="Static" validateRequest="false">
            
        </pages>
        <httpRuntime requestValidationMode="2.0" maxRequestLength="2097151"/>
        
    </system.web>

</configuration>
